body{
    font-family: cursive;
    background-color: #fcf7f0;
}

span{
    font-size: 50px;
    text-decoration: underline;
}

.App{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.content{
    position: absolute;
    top: 30%;
    left: 10%;
}

.progress_info_wrap{
    position: absolute;
    top: 70px;
    left: 30px;
}

.progress_info{
    font-size: 40px;
    margin: 0;
}

.info{
    position: absolute;
    height: 80px;
    width: 80px;
    border: 3px solid black;
    border-radius: 100%;
    top: 70px;
    right: 60px;
    text-align: center;
}

.info_text {
    margin-top: 19px;
    font-size: 25px;
}

.info_content {
    position: absolute;
    top: -82%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 80%;
    text-align: center;
    border: 1px solid #b8a995;
    background-color: #fdefdd;
    transition-duration: 1.2s;
    z-index: 999;
}

.info_content2{
    top: 5%;
}

.info_content_text{    
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 45px;
}

.close_info_content{
    position: absolute;
    top: 90%;
    width: 50%;
    height: 10%;
    left: 25%;
    right: 25%;
    font-size: 60px;
    background-color: rgb(255, 149, 149);
}

.count{
    text-align: center;
    font-size: 90px;
}

.text{
    font-size: 60px;
    margin: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 0;
    display: inline-block;
}

.btn{
    top: 50%;
    left: 50%;
    margin-bottom: 50px;
    height: 100px;
    max-width: 200px;
    min-width: 110px;
    font-size: 40px;
    border: none;
    border-radius: 20%;
    background-color: #fdefdd;
    border: 1px solid #b8a995;
}

.incCount{
    position: absolute;
    top: 90%;
    width: 100%;
    height: 10%;
    box-shadow: 0px -10px 10px 10px #ece6de;
    font-size: 80px;
    background-color: #fdefdd;
    border: 1px solid #b8a995;
}